name: Test and Deploy to Integracion
permissions:
  contents: write   #
on:
  push:
    branches:
      - desarrollo

jobs:
  test_and_coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Run tests with coverage
        run: |
          pytest Test --cov=./ --cov-report=xml --cov-fail-under=10 -o python_files=Test_*.py
      - name: Check coverage threshold
        run: |
          coverage=$(pytest --cov=./ --cov-report=xml | grep "<coverage" | sed -E 's/.*line-rate="([0-9.]+)".*/\1/')
          percent=$(echo "$coverage * 100" | bc)
          echo "Coverage: $percent%"
          if (( $(echo "$percent < 10" | bc -l) )); then
            echo "Coverage too low: $percent%"
            exit 1
          fi
  deploy_to_integracion:
    runs-on: ubuntu-latest
    needs: test_and_coverage
    if: success()

    steps:
      - name: Checkout repository with full history
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Fetch all branches
        run: |
          git fetch --all


      - name: Merge desarrollo into integracion
        run: |
          git checkout integracion
          git merge origin/desarrollo --allow-unrelated-histories -m "Auto-merge desde desarrollo"
          git push origin integracion
